<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plume</title>
    <link rel="icon" href="{{ url_for('static', path='images/logo_plume.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', path='style/main.css') }}">
    {% block static_css %}{% endblock %}
    {% block static_js %}{% endblock %}
</head>

<body>
    {% block sidebar %}{% endblock %}
    <div class="content">
        <div class="background"></div>
        <div class="title">
            <h1>Plume</h1>
            <img src="{{ url_for('static', path='/images/logo_plume.png') }}" alt="Logo plume">
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>